<% content_for :breadcrumb do %>
  <%= render('shared/breadcrumb', links: [
    {path: feeds_path, name: 'Feeds'},
    {path: request.path, name: 'detail'},
  ]) %>
<% end %>

<p id="notice"><%= notice %></p>

<div class='mb-5 flex flex-col'>
  <div class='flex'>
    <div><strong>Name:</strong></div>
    <div><%= @feed.name %></div>
  </div>
  <div class='flex'>
    <div><strong>Url:</strong></div>
    <div><%= @feed.url %></div>
  </div>
</div>

<div class='mb-5 flex'>
  <%= link_to 'Edit', edit_feed_path(@feed) %> |
  <%= link_to 'Back', feeds_path %>
</div>


<div class="py-6">
  <div class="max-w-lg">
    <%= turbo_frame_tag "items" do %>
      <%= render @items %>
    <% end %>
  </div>
</div>
