<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @feed.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @feed.url %>
</p>

<%= render @page.records %>


<% if @page.last? %>
  No more pages!
<% else %>
  <%= link_to "Next page", feed_path(page: @page.next_param) %>
<% end %>

<%= link_to 'Edit', edit_feed_path(@feed) %> |
<%= link_to 'Back', feeds_path %>
