<p id="notice"><%= notice %></p>

<div class='mb-5 flex flex-col'>
  <div class='flex'>
    <div><strong>Name:</strong></div>
    <div><%= @feed.name %></div>
  </div>
  <div class='flex'>
    <div><strong>Url:</strong></div>
    <div><%= @feed.url %></div>
  </div>
</div>

<div class='mb-5 flex'>
  <%= link_to 'Edit', edit_feed_path(@feed) %> |
  <%= link_to 'Back', feeds_path %>
</div>

<div class='mb-5 flex flex-col'>
  <%= render @page.records %>
<div>


<% if @page.last? %>
  No more pages!
<% else %>
  <%= link_to "Next page", feed_path(page: @page.next_param) %>
<% end %>
