<% content_for :ogp do %>
  <meta property="og:type" content="article">
  <meta property="og:title" content="<%= @feed.name %> Items of <%= l @date.to_date %>">
  <meta property="og:description" content="<%= op_description(@date, @page.recordset) %>">
  <meta property="og:image" content="<%= ogp_url(format: :png, text: "#{@feed.name}\n#{l @date.to_date}") %>">
  <meta content="<%= feed_daily_url(feed: @feed, date: params[:date]) %>" property="og:url"/>
  <meta content="Walker" property="og:site_name"/>
<% end %>

<% content_for :title do %>
  <span><%= l @date.to_date %></span>
<% end %>

<div class="mx-auto sm:px-6 lg:px-8">
  <div class="max-w-lg mx-auto">
    <%= turbo_frame_tag "items" do %>
      <%= render collection: @page.records, partial: 'items/item' %>
    <% end %>
  </div>

  <div class="max-w-lg mx-auto pt-12">
    <%= turbo_frame_tag "paginate_link", class: 'text-center' do %>
      <% if @page.last? %>
        <div class="text-center">
          No more pages!
        </div>
      <% else %>
        <%= button_to "Load more", feed_daily_path(@feed, format: 'turbo_stream', page: @page.next_param), method: :get, class: "inline-flex items-center px-6 py-3 border border-transparent text-base font-medium rounded-full shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
      <% end %>
    <% end %>
  </div>
</div>

<div class='flex justify-center mx-auto mt-24 mb-48'>
  <span class="relative z-0 inline-flex shadow-sm rounded-md">
    <%= button_to feed_daily_path(date: @date.yesterday.strftime("%Y%m%d")), method: :get, class: "relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50 focus:z-10 focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500" do %>
      <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
      </svg>
      <span><%= l(@date.to_date.yesterday) %></span>
    <% end %>
    <%= button_to feed_daily_path(date: @date.tomorrow.strftime("%Y%m%d")), method: :get, class: "-ml-px relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50 focus:z-10 focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500" do %>
      <span><%= l(@date.to_date.tomorrow) %></span>
      <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
      </svg>
    <% end %>
  </span>
</div>
