<div class="col-span-1">
  <%= link_to item.link, title: item.title, class: 'text-gray-900 hover:underline visited:text-gray-500', target: '_blank' do %>
    <div class="flex-shrink-0 mx-4 sm:mx-0">
      <% if item.item_ogp&.image.present? %>
        <% if item.item_ogp&.image.start_with? 'http://', 'https://' %>
          <div class='flex items-center justify-center md:h-44'>
            <%= image_tag item.item_ogp&.image, class: 'object-cover max-h-full rounded-lg shadow', loading: "lazy" %>
          </div>
        <% else %>
          <%= image_tag URI(item.link).scheme + '://' + URI(item.link).host + '/' + item.item_ogp&.image, class: 'object-cover max-h-64 w-full rounded-lg shadow', loading: "lazy" %>
        <% end %>
      <% else %>
        <div class='flex items-center justify-center w-full bg-black rounded-lg shadow h-44 space-x-4'>
          <span class='text-lg font-bold text-center text-white'>
            <%= item.item_ogp&.title.presence || item.title %>
          </span>
        </div>
      <% end %>
    </div>
    <div class="flex items-center justify-between w-full px-6 pt-6 md:h-12 space-x-6">
      <div class="flex-1 sm:mx-0">
        <p class="hidden text-sm font-medium text-gray-900 md:block"><%= item.title.truncate(42) %></p>
        <p class="text-sm font-medium text-gray-900 md:hidden md:block"><%= item.title %></p>
      </div>
    </div>
  <% end %>
  <div class="border-b">
    <div class="flex items-center px-4 py-6 mx-4 sm:px-6 sm:mx-0">
      <p class="text-sm text-gray-500 truncate">
      <%= link_to item.feed.name, feed_path(item.feed), data: { turbo: false } %> ･ <%= time_ago_in_words item.created_at %> ago
      </p>
    </div>
  </div>
</div>
